appdirs==1.4.4
beautifulsoup4
Brotli
certifi
cffi
charset-normalizer
cloudscraper
colorama==0.4.6
exceptiongroup
fake-useragent==1.5.1
greenlet==3.0.3
h11
idna
importlib_metadata==7.2.0
lxml==5.2.2
numpy
outcome
packaging
pandas
playwright==1.44.0
pycparser
pyee==11.1.0
pyppeteer==2.0.0
PySocks
python-dateutil
python-dotenv==1.0.1
pytz
requests
six
sniffio
sortedcontainers
soupsieve
tqdm==4.66.4
trio
trio-websocket
typing_extensions
tzdata
undetected-chromedriver==3.5.5
urllib3==1.26.19
websocket-client
websockets==10.4
win-inet-pton
wsproto
zipp==3.19.2
plotly
missingno
statsmodels
